---
- name: Install cmvfs client repository
  apt:
    deb: https://ecsft.cern.ch/dist/cvmfs/cvmfs-release/cvmfs-release-latest_all.deb

- name: Install cvmfs client
  apt:
    name: '{{ item }}'
    update_cache: yes
  with_items:
   - cvmfs
   - cvmfs-config-default
