---
# tasks file for cvmfs-client

- include: client_install.yml

- command: 'cvmfs_config stat -v {{repository_name}}'
  register: cvmfs_stat
  ignore_errors: yes

- include: client_config.yml
  when: cvmfs_stat.rc != 0
