CVMFS_SERVER_URL={{ cvmfs_server_url }} 
CVMFS_PUBLIC_KEY={{ cvmfs_public_key_path }}/{{ cvmfs_public_key }}
{% if proxy_url == 'DIRECT' %}
CVMFS_HTTP_PROXY=DIRECT
{% else %}
CVMFS_HTTP_PROXY={{ cvmfs_http_proxy }}
{% endif %}
